a
{
    color: #fffcf7;
}
body
{
    line-height: 2;
    /* background-color: #ffe8c4; */
    background-color: #fffcf7;
    font-family: "Comic Sans MS", "Comic Sans";
    text-align: center;
}
button
{

    /* styling */
    background-color: #010203;
    color: #fffcf7;
    font-family: "Comic Sans MS", "Comic Sans";
    font-size: large;
    border: 0px;
    padding: 5px;
    margin-top: 5px;
    border-radius: 15px;
}
input
{
    font-family: "Comic Sans MS", "Comic Sans";
    text-align: center;
}
header
{
    /* border stuff */
    background-color: #010203; 
    padding: 5px; 
    border-radius: 15px;
    margin-bottom: 5px;
    /* font stuff */
    color: #fffcf7;
    font-weight: 100;
}
p
{
    /* font */
    color: #010203;
}
section
{
    align-content: center;
}
table, tr
{
    /* prevent table from being pushed offsceen */
    min-width: 400px;
    padding: 0;
    /* make content as centered as possible */
    margin: 0 auto;
}
td
{
    /* make boxes */
    background-color: #010203;
    color: #fffcf7;
    border: 2px solid #010203;
    border-radius: 15px;
    vertical-align: middle;
    width: 5px;
    height: 60px;
    /* manage text */
    font-weight: bold;
    /* align numbers */
    position: relative;
}
.diceBoard
{
    padding: 1px;
    width: 40px;
}
.divScoreSheet
{
    /* place a score sheet on the screen */
    height: auto;
    width: auto;
    position: absolute;
    z-index: 1;
    overflow-x: hidden;
    /* prevent it from intersecting with header */
    top: 100px;
}
#spanBrainiacAction
{
    /* change text color */
    color: #59d411 !important;
    /* or #85ff1a */
}
#spanCowardAction
{
    /* change text color */
    color: #1A85FF !important;
}
#spanRiskTakerAction
{
    /* change text color */
    color: #D41159 !important;
}
.userInformation
{
    display: flex;
    justify-content: center;
    align-items: center;
}