body
{
    line-height: 2;
    text-align: start;
    overflow-wrap: break-word;
    border-left: 100;
    background-color: #ffe8c4;
    font-family: 'Courier New', Courier, monospace;
}
p
{
    /* font */
    color: #f8d092;
    /* border */
    background-color: #000000;
    border-radius: 5px;
}
header
{
    /* border stuff */
    background-color: #000000; 
    padding: 5px; 
    border-radius: 5px;
    border: 5px dotted #ffffff;
    margin-bottom: 5px;
    /* font stuff */
    color: #ffee00;
    text-align: center;
    font-weight: 100;
}
h2
{
    /* border stuff */
    background-color: #000000; 
    padding: 5px;
    border-radius: 5px;
    border: 5px dotted #ffffff;
    /* font stuff */
    color: #ffee00;
    font-size: larger;
    text-align: center;
    font-weight: 200;
}
button
{
    /* center buttons */
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* styling */
    background-color: #000000;
    color: #ffee00;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}
h3
{
    text-align: center;
}
a
{
    color: beige;
}
input
{
    font-family: 'Courier New', Courier, monospace;
}
#checkerboard
{
    /* make board visible */
    width: 400px;
    height: 400px;
    /* add some snazz */
    border: 2px solid #010203;
    border-radius: 2px;
    /* make content as centered as possible */
    margin: 0 auto;
}
.checkerSquare
{
    /* make some squares */
    width: 50px;
    height: 50px;
    /* put in the border */
    float: left;
    /* add some snazz */
    background-color: #010203;
}
.checkerPiece
{
    width: 50px;
    height: 50px;
    /* demo is 55, 55, 2.5 */
    margin: 2.5; 
    /* make round */
    border-radius: 50%;
}
.checkerPiece-w
{
    /* made these odd colors to verify it's not being created */
    background-color:goldenrod;
}
.checkerPiece-b
{
    background-color: blue;
}
.hole
{
    width: 100px;
    height: 100px;
    margin: 2.5; 
    /* make round */
    border-radius: 50%;
    /* make a nice shade of brown */
    background-color: chocolate;
}
.mole
{
    width: 100px;
    height: 100px;
    margin: 2.5; 
    /* make round */
    border-radius: 50%;
    /* make grey */
    background-color: darkgrey;
}
#imgSlide
{
    /* dimensions */
    width: 500px;
    height: 300px;
    /* center the image */
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* box shadow */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}