body
{
    line-height: 2;
    text-align: start;
    overflow-wrap: break-word;
    border-left: 100;
    background-color: #ffdac4;
    font-family: 'Courier New', Courier, monospace;
}
p
{
    /* font */
    color: #f8d092;
    /* border */
    background-color: #000000;
    border-radius: 5px;
}
header
{
    /* border stuff */
    background-color: #000000; 
    padding: 5px; 
    border-radius: 5px;
    border: 5px dotted #ffffff;
    margin-bottom: 5px;
    /* font stuff */
    color: #ffee00;
    text-align: center;
    font-weight: 100;
}
h2
{
    /* border stuff */
    background-color: #000000; 
    padding: 5px;
    border-radius: 5px;
    border: 5px dotted #ffffff;
    /* font stuff */
    color: #ffee00;
    font-size: larger;
    text-align: center;
    font-weight: 200;
}